@import "../../Styles/variables";

$app-bar-color: #000;
$menu-text: #fff;
$menu-item-hover: #382f2f;

@mixin MediaQuery($type) {
  @media screen and (max-width: $type) {
    @content;
  }
}

.app-bar {
  position: fixed;
  top: 0;

  @include MediaQuery($lg) {
    width: 100%;
  }

  @include MediaQuery($md1) {
    width: 100%;
  }

  @include MediaQuery($md) {
    width: 100%;
  }

  @include MediaQuery($ssm1) {
    width: 100%;
  }

  @include MediaQuery($ssm) {
    width: 100%;
  }
  .app-bar-menu-list {
    background-color: $app-bar-color;
    color: $menu-text;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 0.1rem;
    min-height: 3rem;
    font-size: 1rem;

    .app-bar-menu-item {
      height: 3rem;
      padding: 0 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      color: $white-color;

      a {
        color: $menu-text;
      }

      &:hover {
        cursor: pointer;
        background-color: $menu-item-hover;
        font-weight: 600;
      }
    }
  }
}
