@import "../../Styles/variables";

$app-bar-color: #000;
$menu-text: #fff;
$menu-item-hover: #382f2f;

@mixin MediaQuery($type) {
  @media screen and (max-width: $type) {
    @content;
  }
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background-color: $app-bar-color;
  align-items: flex-start;
  flex-direction: column;
  font-size: 1rem;
  transform: translateX(1.2rem);

  .sub-menu-item {
    color: $white-color;
    text-align: start;
    padding: 0.5rem 0rem;
    width: 100%;
    border-bottom: 1px solid gray;
    &:hover {
      background-color: $menu-item-hover;
    }
  }
}
.app-bar {
  background-color: $app-bar-color;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;

  .user-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white-color;
    cursor: pointer;
    &:hover .sub-menu {
      display: flex;
    }

    .user-avatar {
      width: 2.3rem;
      height: 2.3rem;
      background-color: #ca5252;
      border-radius: 100%;
      text-align: center;
      line-height: 1.9;
      font-size: 1.3rem;
      text-transform: uppercase;
    }
    .user-name {
      font-size: 1.2rem;
      text-align: center;
      padding: 0 1rem;
      max-width: 6rem;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .app-bar-menu {
    width: 100%;
    .app-bar-menu-list {
      color: $menu-text;
      display: flex;
      justify-content: right;
      align-items: center;
      gap: 0.1rem;
      min-height: 3rem;
      font-size: 1rem;

      .menu-management {
        position: relative;
        &:hover .sub-menu {
          display: flex;
        }
      }

      .app-bar-menu-item {
        height: 3rem;
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: $white-color;

        a {
          color: $menu-text;
        }

        &:hover {
          cursor: pointer;
          background-color: $menu-item-hover;
          font-weight: 600;
        }
      }
    }
  }
}
