$login-form-color: #ffffff;
$input-border-bottom-color: #cf43a4;
$white-color: #fff;
$facebook-color: #4367b1;
$google-color: #d64937;
$social-text-color: #a4a2a4;
$text-color-1: #333333;
$forgot-password-text-color: #a4a2a4;
$forgot-password-hover-color: #cf43a4;
$login-button-text-color: #ffc8fe;
$background-linear-color-1: #aa44b1;
$background-linear-color-2: #cf43a4;
$background-linear-color-3: #f4429a;
$text-color: #cf43a4;
$background-color: #eeeeee;
$black-color: #000;
$border-color: #a4a2a4;

$desktop: 1280px;
$lg: 1024px;
$md1: 912px;
$md: 768px;
$sm: 568px;
$ssm1: 414px;
$ssm: 375px;
