$login-form-color: #FFFFFF;
$input-border-bottom-color: #CF43A4;
$white-color: #FFF;
$facebook-color: #4367B1;
$google-color: #D64937;
$social-text-color: #A4A2A4;
$forgot-password-text-color: #A4A2A4;
$forgot-password-hover-color: #CF43A4;
$login-button-text-color: #FFC8FE;
$background-linear-color-1: #AA44B1;
$background-linear-color-2: #CF43A4;
$background-linear-color-3: #F4429A;
$text-color: #CF43A4;

$desktop: 1280px;
$lg: 1024px;
$md1: 912px;
$md: 768px;
$sm: 568px;
$ssm1: 414px;
$ssm: 375px;