@import "./variables";

$btn-create-color: #1a73e8;
$btn-color: #1a73e8;
$green-color: green;

.disable-button {
  opacity: 0.5;
}

.error-message {
  color: red;
  text-align: start;
  width: 100%;
  font-size: 1rem;
  /* background-color: green; */
  display: flex;
  padding-top: 0.2rem;
}

.btn {
  border: none;
  padding: 1rem;
  border-radius: 0.2rem;
  border-radius: 0.2rem;
  background-color: $btn-color;
  color: $white-color;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-cancel {
  background-color: $white-color;
  border: none;
  padding: 1rem;
  border-radius: 0.2rem;
  color: $black-color;
  cursor: pointer;
  border: 1px solid $border-color;
}
.btn-create {
  background-color: $btn-create-color;
  border: none;
  padding: 1rem;
  border-radius: 0.2rem;
  color: $white-color;

  &:hover {
    cursor: pointer;
  }
}
.btn-edit {
  background-color: orange;
}
.btn-delete {
  background-color: #ff3030;
}

.btn-search {
  background-color: $green-color;
  padding: 0.7rem;
  width: 7rem;
  text-transform: uppercase;
}

.page-content {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  font-size: 1rem;
  // background-color: $background-color;
}

.page-title {
  text-align: start;
  color: $text-color-1;
  width: 100%;
  border-bottom: 1px solid $border-color;
  font-size: 2rem;
  margin-bottom: 1rem;
}
