.loading {
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes loading1 {
    0% {
      transform: translate(-50px, -10px) rotate(0deg);
    }
    100% {
      transform: translate(-50px, -10px) rotate(360deg);
    }
  }

  margin: 10px;

  &::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 5px solid orange;
    border-top: 5px solid transparent;
    animation: loading 1s infinite linear;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 5px solid orange;
    border-left: 5px solid transparent;
    transform: translate(-50px, -10px);
    animation: loading1 1s infinite reverse linear;
  }
}
