@import "../../Styles/Common.scss";
@import "../../Styles/variables";

@mixin MediaQuery($type) {
  @media screen and (max-width: $type) {
    @content;
  }
}

.details-page {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  background-color: $background-color;

  @include MediaQuery($lg) {
    width: 100%;
  }

  @include MediaQuery($md1) {
    width: 100%;
  }

  @include MediaQuery($md) {
    width: 100%;
  }

  @include MediaQuery($ssm1) {
    width: 100%;
  }

  @include MediaQuery($ssm) {
    width: 100%;
  }
}
