@import "../../Styles/Common.scss";
@import "../../Styles/variables";

.home-page {
  background-color: $background-color;
  min-height: 100vh;

  .spent {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid gray;
    margin: 1rem 2rem 0 2rem;

    .spent-title {
      color: #009900;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .spent-data {
      display: flex;
      justify-content: center;
      gap: 2rem;

      .left {
        color: #00e600;
        width: 10rem;
        height: 10rem;
        background-color: #002699;
        border-radius: 100%;
        box-shadow: 0 0 0 3px green, 0 0 0 6px blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .left-value {
          font-size: 3rem;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        background-color: transparent;

        .info {
          font-weight: 400;
          padding: 0.5rem;
          border: 2px solid green;
          border-radius: 0.3rem;
          span {
            font-style: italic;
          }
        }
        .see-more {
          background-color: transparent;
          border: none;
          color: green;
          text-align: start;
          font-weight: 600;
          padding: 0.4rem;
          cursor: pointer;
        }
      }
    }
  }

  .list-data {
    border: 1px solid gray;
    margin: 0 2rem;
    border-top: none;
  }
}
