@import "../../Styles/Common.scss";
@import "../../Styles/variables";

.content {
  $col-width: 33.33%;

  margin: 0.5rem 5rem;
  border-bottom: 1px solid gray;

  .content-title {
    --border-bottom: #ff3333;

    text-align: start;
    background-color: #d9d9d9;
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 3px solid var(--border-bottom);
    font-weight: 600;
  }

  .content-header {
    background-color: #ecd9c6;
    padding: 0.1rem 0;
    margin-bottom: 0.2rem;
  }
  .content-header,
  .content-row {
    display: flex;
    .col-active {
      background-color: #b3ffcc;
    }
  }

  .content-header span,
  .content-row span {
    width: $col-width;
    padding: 0.5rem 0;
  }
}
